* {
    margin: 0px;
    font-size: 0px;
  }
  #maze {
    position: absolute;
    background-image: url("https://wallpapertag.com/wallpaper/full/1/7/6/491762-black-purple-background-2560x1440-photos.jpg");
  }
  .mazeRow {
    display: flex;
  }
  .mazeCell {
    width: 50px;
    height: 50px;
    border: 2px transparent;
    box-sizing: border-box;
    display: inline-block;
  }
  #player {
    background: blue;
    position: relative;
    width: 50px;
    height: 50px;
  }
  .mazeWall {
    background: black;
  }
  .goal {
    background: radial-gradient(green, lightgreen);
  }
  body {

    overflow: hidden;
    /*background-image: url("https://wallpapertag.com/wallpaper/full/1/7/6/491762-black-purple-background-2560x1440-photos.jpg");
  */
  }

  #buttonArea {
    padding-left: 250px;
  }


